@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    height: 100vh;
}

header {
    background-color: #333;
}



/*------------------------------------------------------ NavBar -------------------------------------------------------- */


ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 15px;
}

.navbar {
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.4s;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover {
    border-bottom: 2px solid #f3900ec7;
}

/* Logo nav */
.logo {
    margin-right: 30px;
}

.logo img {
    max-width: 100px;
    height: auto;
}


.logo {
  margin-right: 15px;
}

.menu li {
  margin-right: 10px;
}

.bar {
  width: 20px;
}

a:hover {
  border-bottom: none;
}

@media (min-width: 1024px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .menu-toggle {
      display: none;
  }
  .menu {
      display: flex;
  }
  .menu li {
      margin-right: 20px;
  }
}

/* Styles pour les tablettes et écrans plus petits */
@media (max-width: 1023px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .menu-toggle {
      display: block;
  }
  .menu {
      display: none;
  }
  .menu.active {
      display: flex;
      flex-direction: column;
      background-color: #333; 
      position: absolute;
      top: 60px; 
      right: 0;
      width: 100%;
  }
  .menu li {
      margin: 10px 0;
      width: 100%;
  }
}

/* Styles pour les petits écrans (téléphones) */
@media (max-width: 767px) {
  .menu-toggle {
      display: block;
  }
  .menu {
      display: none;
  }
  .menu.active {
      display: flex;
      flex-direction: column;
      background-color: #333; 
      position: absolute;
      top: 60px; 
      right: 0;
      width: 100%;
  }
  .menu li {
      margin: 10px 0;
      width: 100%;
  }
}

@media (max-width: 480px) { 
  .menu-toggle {
    display: block;
    background-color: #333; 
    padding: 5px;
    border: 1px solid #fff; 
    border-radius: 4px; 
    cursor: pointer;
  }
  
  .menu {
    display: none;
  }
  
  .menu.active {
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
  }
  
  .menu li {
    margin: 10px 0;
    width: 100%;
  }

  .navbar {
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}


/* Styles pour les petits écrans (téléphones) */
@media (max-width: 300px) {
  .menu-toggle {
      display: block;
  }
  .menu {
      display: none;
  }
  .menu.active {
      display: flex;
      flex-direction: column;
      background-color: #333; 
      position: absolute;
      top: 60px; 
      right: 0;
      width: 100%;

  }
  .menu li {
      margin: 10px 0;
      width: 100%;
  }
}


/*------------------------------------------------------ Accueil -------------------------------------------------------- */
h1 {
    font-size: 52px;
    color: #fff;
}

.content_acc {
  text-align: center;
  padding: 50px;
  background: url('../img/bg_portfolio.jpg') no-repeat center center fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;
}

.text_accueil {
  font-size: 30px;
  line-height: 40px;
  padding: 20px 0 50px;
  font-weight: 300;
  color: #f3900ec7;
}

.roll-button {
  border: none;
  background-color: #f3900ec7;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 35px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 0.3s;
}

.acceuil-section {
  color: #fff;
  text-align: center;
  padding: 100px 0;
  margin: 0 auto;
  opacity: 0;
  animation: apparitionTexte 3s forwards;
}

@keyframes apparitionTexte {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Styles pour les tablettes et écrans plus petits */
@media (max-width: 1023px) {
  .content_acc {
      height: auto; 
  }

  .text_accueil {
      font-size: 24px; 
      line-height: 32px; 
      padding: 10px 0 30px; 
      text-align: center;
  }

  .roll-button {
      font-size: 12px;
      line-height: 20px;
      padding: 8px 25px; 
  }
}

/* Styles pour les petits écrans (téléphones) */
@media (max-width: 767px) {
  .content_acc {
      height: auto; 
  }

  .text_accueil {
      font-size: 20px;
      padding: 10px 0 20px; 
      
  }

  .content_apropos {
    margin: 0.3rem;
    padding: 3px;
    width: 392px;}

  .roll-button {
      font-size: 10px;
      line-height: 16px; 
      padding: 6px 20px;
  }
}

@media (max-width: 395px) {
  h1 {
    font-size: 32px; 
  }

  .content_acc {
    padding: 20px;
    width: 403px;
  }

  .text_accueil {
    font-size: 18px;
    line-height: 28px;
    padding: 10px 0 30px; 
  }

  .roll-button {
    font-size: 12px;
    line-height: 20px; 
    padding: 8px 25px; 
  }

  .acceuil-section {
    padding: 60px 0; 
  }
}

@media only screen and (max-device-width: 375px) and (max-device-height: 667px) {
  .content_acc {
    height: auto; 
  }

  .text_accueil {
    font-size: 20px;
    padding: 10px 0 20px; 
  }

  .roll-button {
    font-size: 10px;
    line-height: 16px; 
    padding: 6px 20px;
  }
}


/*------------------------------------------------------ A propos -------------------------------------------------------- */
.content_apropos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 10px;
  background-color: #48454518;
}

.apropos-section {
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: left;
  padding: 10px;
}

/* Styles pour les tablettes et écrans plus petits */
@media (max-width: 1023px) {
  .content_apropos {
      margin: 0.5rem;
      padding: 5px;
  }

  .apropos-section {
      gap: 1rem; 
      padding: 5px; 
      flex-direction: column;
      text-align: center;
  }
}

/* Styles pour les petits écrans (téléphones) */
@media (max-width: 767px) {
  .content_apropos {
      margin: 0.3rem;
      padding: 3px; 
      
  }

  .apropos-section {
      gap: 0.5rem;
      padding: 3px;
      flex-direction: column;
      text-align: center;
  }
}

/*------------------------------------------------------ Compétences -------------------------------------------------------- */
.content_competences {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
}

.competences-section {
  display: flex;
  gap: 10rem;
  align-items: center;
  text-align: left;
  flex-direction: row-reverse;
}

label {
  padding-right: 10px;
  font-size: 1rem;
}

#file_ {
  width: 700px;
}

#bar_front {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

#bar_front p {
  text-align: center;
  margin-top: 30px;
}

/* Styles pour les tablettes et écrans plus petits */
@media (max-width: 1023px) {
  .content_competences {
      margin: 2rem; 
  }

  .competences-section {
      gap: 5rem; 
      flex-direction: column; 
  }

  label {
      padding-right: 5px; 
      font-size: 0.8rem;
  }

  #file_ {
      width: 100%; 
  }

  #bar_front {
      padding-bottom: 10px;
  }
}

/* Styles pour les petits écrans (téléphones) */
@media (max-width: 767px) {
  .content_competences {
      margin: 1rem; 
  }

  .competences-section {
      gap: 2rem;
      flex-direction: column; 
  }

  label {
      padding-right: 3px; 
      font-size: 0.7rem;
  }

  #file_ {
      width: 100%;
  }

  #bar_front {
      padding-bottom: 5px; 
  }
}





/* ------------------------------------------------------- Projet -------------------------------------------------------- */

  progress {
    width: 100%;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
  }

  
  progress::-webkit-progress-value {
    background-image: linear-gradient(to right, #00fd8b,#0eabf3,#0e84f3);
    
  }

.content_projet {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10rem;
  background-color:  #48454518;
}
.content_projet h2  {
  margin-bottom: 5rem;
}

.content_projet a  {
  color: orange;
  text-decoration: none;
}
.projet_img {
  width: 600px;
  filter: blur(5px); 
  transition: filter 0.3s;
  margin-bottom: 1rem;
}

.projet_img:hover {
  filter: blur(0); 
}

.projet_section{
  text-align: center;
}

/* Media query pour la taille d'un iPhone */
@media (max-width: 375px) {
  .content_projet {
    margin: 5rem; 
  }
  .content_projet h2 {
    margin-bottom: 2rem;
  }
  .projet_img {
    width: 100%; 
  }
}

/* Media query pour la taille d'une tablette */
@media (max-width: 768px) {
  .content_projet {
    margin: 5rem;
  }
  .content_projet h2 {
    margin-bottom: 3rem;
  }
  .projet_img {
    width: 400px; 
  }
}



/*------------------------------------------------------Formulaire-------------------------------------------------------- */
.container {
  max-width: 100vh;
  margin: 0 auto;
  background-color: #eeeeee2c;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.062);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

h4 {
  text-align: center;
  color: #333;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;

}

label {
  font-weight: bold;
  
}

input, textarea {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;


}

button {
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  background-color: #f3900ec7;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 35px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

button:hover {
  background-color: #555;
}

/* Règles de médias queries pour les tablettes (largeur d'écran entre 768px et 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 80%;
  }
}

/* Règles de médias queries pour les téléphones (largeur d'écran inférieure à 768px) */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
  
  form {
    padding: 0;
  }
  
  label {
    font-size: 14px;
  }
  
  input, textarea {
    font-size: 14px;
  }
  
  button {
    font-size: 14px;
    padding: 10px 20px;
  }
}

.bg {
          width: 100%;
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: 300% 300%;
          background-image: linear-gradient(-45deg, rgba(255, 60, 0, 0.349) 0%, rgba(255, 98, 0, 0.468) 25%,rgba(255, 183, 0, 0.234)50%, #ff80006e 100%);
          -webkit-animation: AnimateBG 5s ease infinite;
          animation: AnimateBG 5s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}






/*------------------------------------------------------ Footer-------------------------------------------------------- */
footer {
    text-align: center;
    background-color: #000000;
    padding: 1.5rem;
}

footer img {
    width: 5.5em;
    height: auto;
    transition: all 0.2s ease-in-out;
}

footer img:hover {
    width: 5.7em;
    height: auto;
    transition: all 0.2s ease-in-out;
}

#copyright {
    text-decoration: underline;
    margin-top: 1rem;
}

.foot_form{
  text-align: center;
  padding: 20px;
  
}
/* Règles de médias queries pour les tablettes (largeur d'écran entre 768px et 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  footer img {
      width: 5em;
  }
  
}

/* Règles de médias queries pour les téléphones (largeur d'écran inférieure à 768px) */
@media (max-width: 767px) {
  footer img {
      width: 4em;
  }

}